{{ ansible_managed | comment }}

[Unit]
Description=Doksi document management service
Wants=network.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/{{ doksi_name }}
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
SyslogIdentifier=doksi
ExecStartPre=-/usr/bin/podman rm -f "{{ doksi_name }}"
ExecStartPre=-/usr/bin/podman rm --storage "{{ doksi_name }}"
ExecStart=/usr/bin/podman run --name "{{ doksi_name }}" $DOKSI_FLAGS $DOKSI_VOLUMES $DOKSI_ENV $DOKSI_IMAGE
ExecStop=/usr/bin/podman rm -f "{{ doksi_name }}"
ExecStopPost=-/usr/bin/podman rm --storage "{{ doksi_name }}"

[Install]
WantedBy=multi-user.target default.target
