{{ ansible_managed | comment }}

DOKSI_IMAGE="{{ doksi_container_image }}"
DOKSI_VOLUMES="{{ doksi_container_volumes | trim }}"
DOKSI_ENV="-e RAILS_ENV=development"
DOKSI_FLAGS="-p {{ doksi_port }}:3000 --privileged"
